.buttonVolver {
    position: relative;
    bottom: 9.8vw;
    left:35vw;
    background-image: url("../../Imagenes/ImgPag/Boton\ Volver\ ruta\ creacion.png");
    background-repeat:no-repeat;
    background-color: transparent;
    height: 19vh;
    width: 19vw;
    background-size: cover;
    background-position:center;
    border: none;
    cursor: url("../../Imagenes/ImgPag/pointer3.png"), pointer;
    font-style: trebuchet;
    font-weight: 800;
    font-size: 2.6rem;  
}

.imageF {
    position: relative;
    left: 25vw;
    bottom: 10vh;
    height: 65vh;
    width: 45vw;  
    background-image: url('../../Imagenes/ImgPag/Fondo\ ruta\ de\ creacion.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 60px;
}

.fondoGris {
    position: relative;
    left: 8vw;
    top: 7vh;
    height: 51vh;
    width: 30vw;
    background-color: rgba(42, 42, 42, 0.8);
    border-radius: 30px;
}
.crear {
    position: relative;
    left: 3vw;
    top: 12.5vh;
    background-color: rgb(62, 62, 62);
    border-radius: 5px;
    height: 7vh;
    width: 6vw;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
}

.volver {
    position: relative;
    left: 245px;
    top: 290px;
    background-color: rgb(62, 62, 62);
    border-radius: 4px;
    height: 4vh;
    width: 3vw;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer; 
}
.selecTemp {
    position: relative;
    right: 4vw;
    top: 12vh;
    background-color: rgb(62, 62, 62);
    border-radius: 5px;
    height: 4vh;
    width: 12vw;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 400;
    font-size: 0.8rem;
}
.tituloCrear {
    position: relative;
    top: 20px;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 700;
    font-size: 2.5rem; 
}
.textName {
    position: relative;
    right: 0vw;
    top: 4.5vh;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 600;
    font-size: 1.7rem; 
}
.barraName {
    position: relative;
    left: 4vw;
    top: 4vh;
    background-color: transparent;
    border-color: white;
    border-radius: 6px;
    height: 4vh;
    width: 17vw;
}
.textAltura {
    position: relative;
    right: 22.6vw;
    top: 12vh;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 600;
    font-size: 1.7rem; 
}
.barraAlturaMin {
    position: relative;
    left: 4.6vw;
    top: 7vh ;
    background-color: transparent;
    border-color: white;
    border-radius: 6px;
    height: 4vh;
    width: 8.2vw;
}
.barraAlturaMax {
    position: relative;
    left: 4.8vw;
    top: 7vh ;
    background-color: transparent;
    border-color: white;
    border-radius: 6px;
    height: 4vh;
    width: 8.2vw;
}
.textPeso {
    position: relative;
    right: 11.6vw;
    top: 10vh;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 600;
    font-size: 1.7rem; 
}
.barraPesoMin {
    position: relative;
    left: 4.6vw;
    top: 6.1vh ;
    background-color: transparent;
    border-color: white;
    border-radius: 6px;
    height: 4vh;
    width: 8.2vw;
}
.barraPesoMax {
    position: relative;
    left: 4.8vw;
    top: 6.1vh ;
    background-color: transparent;
    border-color: white;
    border-radius: 6px;
    height: 4vh;
    width: 8.2vw;
}
.textLife {
    position: relative;
    right: 18px;
    top: 9.3vh;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 600;
    font-size: 1.4rem;
}
.barraLife {
    position: relative;
    left: 1.4vw;
    top: 9vh ;
    background-color: transparent;
    border-color: white;
    border-radius: 6px;
    height: 4vh;
    width: 17vw;
}
