.boxC {
    position: relative;
    bottom: 25vh;
    background-color:rgb(255, 255, 255);
    box-shadow : 4px 3px 3px rgba(42, 42, 42, 0.40);
    height: 45vh;
    width: 30vw;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2em;
    margin-left: 2rem ;
    cursor: url("../../../Imagenes/ImgPag/pointer2.png"), pointer;
}

.box2C {
position: relative;
bottom: 16vh;
left: 1vw;
background-color:rgb(255, 255, 255);
height: 25vh;
width: 13vw;
text-align: center;
margin-bottom: 2em;  
}
.imageC{
position: relative;
left: 15vw;
top: 18vh;
display: flex;

}
.imstam {
    height: 190px;
    width: 260px;
}

.nombreC {
position: relative;
bottom:18vh;
left: 5vw;
color: rgb(62, 62, 62);
background-color: rgb(255, 255, 255);
height: 12vh;
width: 20vw;
font-style: Trebuchet;
font-weight: 760;
font-size: 3em;
line-height : 40px;  
}
.temperamentoC {
position: relative;

top: 4vh;
color: rgb(42, 42, 42);
font-style: Trebuchet;
font-weight: 600;
font-size: 1.2rem; 
line-height : 19px; 
}
.temperamentoCName {
    position: relative;
    bottom: 2vh;
    font-weight: 700;
    font-size: 1.5rem;
}
.pesoC {
    position: relative;
    top: 9vh;
    color: rgb(42, 42, 42);
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 1.2rem; 
    line-height : 12px; 
}
.pesoCName {
        position: relative;
        bottom: 2vh;
        font-weight: 700;
        font-size: 1.5rem;
}
.ordenCards {
        background-color: rgb(255, 255, 255);
        width: 70%;
        margin-left: 12vw;
        margin-top: 0px;
        display: grid;
        grid-template-columns: 700px 80px;
        /* grid-template-rows: 50px 100px 40px 60px; */
}

.sinlinea {
    text-decoration: none;
}