.buttonCreate {
    position: relative;
    bottom: 13.5vw;
    right: 0vw;
    background-image: url("../../../Imagenes/ImgPag/Boton\ Volver\ ruta\ creacion.png");
    background-repeat:no-repeat;
    background-color: transparent;
    height: 19vh;
    width: 19vw;
    background-size: cover;
    background-position:center;
    border: none;
    cursor: url("../../../Imagenes/ImgPag/pointer3.png"), pointer;
   
}

.sinlinea {
    text-decoration: none;
}

.textCrear {
    position: relative;
    bottom: 20.3vw;
    left: 44vw;
    color: #2A2A2A;
    background-color: rgb(255, 255, 255);
    background-color: transparent;
    width: 10vw;
    height: 5vh;
    /* FALTA AGREGAR LA FUENTE, VER COMO SE HACE Y HACERLO */
    font-style: trebuchet;
    font-weight: 800;
    font-size: 2.6rem;  
    cursor: url("../../../Imagenes/ImgPag/pointer3.png"), pointer;
   
}

.textNR {
    position: relative;
    bottom: 20.7vw;
    left: 44vw;
    color: #2A2A2A;
    background-color: rgb(58, 112, 112);
    background-color: transparent;
    width: 10vw;
    height: 4vh;
    /* FALTA AGREGAR LA FUENTE, VER COMO SE HACE Y HACERLO */
    font-style: trebuchet;
    font-weight: 700;
    font-size: 2rem;  
    cursor: url("../../../Imagenes/ImgPag/pointer3.png"), pointer;
}

.ubicTodos {
    position: relative;
    bottom: 16vw;
}

.ordenalf {
    position: relative;
    right: 15vw;
    background-color: rgb(239 ,46 , 149);
    border: none;
    border-radius: 1vh;
    width: 13vw;
    height: 5vh;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 600;
    font-size: 1rem;
    cursor: url("../../../Imagenes/ImgPag/pointer3.png"), pointer;
}

.peso {
    position: relative;
    right: 10vw;
    background-color: rgb(20 ,105 , 152);
    border: none;
    border-radius: 1vh;
    width: 13vw;
    height: 5vh;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 600;
    font-size: 1rem;
    cursor: url("../../../Imagenes/ImgPag/pointer3.png"), pointer;
}

.temperamentofil {
    position: relative;
    left: 10vw;
    background-color: rgb(202 ,39 , 42);
    border: none;
    border-radius: 1vh;
    width: 13vw;
    height: 5vh;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 600;
    font-size: 1rem;
    cursor: url("../../../Imagenes/ImgPag/pointer3.png"), pointer;
}

.razafil {
    position: relative;
    left: 15vw;
    background-color: rgb(238 ,99 ,71);
    border: none;
    border-radius: 1vh;
    width: 13vw;
    height: 5vh;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 600;
    font-size: 1rem;
    cursor: url("../../../Imagenes/ImgPag/pointer3.png"), pointer;
}