.buttonVolverD {
    position: relative;
    top: 28vw;
    right:22vw;
    background-image: url("../../Imagenes/ImgPag/Boton\ Volver\ ruta\ creacion.png");
    background-repeat:no-repeat;
    background-color: transparent;
    height: 14vh;
    width: 14vw;
    background-size: cover;
    background-position:center;
    border: none;
    cursor: url("../../Imagenes/ImgPag/pointer3.png"), pointer;
    font-style: trebuchet;
    font-weight: 800;
    font-size: 2rem;  
}

.imageDetail {
    position: relative;
    bottom:10vh;
    left: 20vw;
    width: 720px;
    height: 504px;
}
.nameDetail {
    position: relative;
    bottom:63vh;
    left: 9vw;
    background-color: rgb(255, 255, 255);
    height: 12vh;
    width: 38vw;
    color: rgb(42, 42, 42);
    font-style: Trebuchet;
    font-weight: 900;
    font-size: 3.5em;
    line-height : 45px; 
}
.tempNameDetail {
    position: relative;
    bottom:56vh;
    left: 12vw;
    background-color: rgb(202, 39, 42);
    height: 5vh;
    width: 30vw;
    color: rgb(255, 255, 255);
    font-style: Trebuchet;
    font-weight: 760;
    font-size: 2em;
}
.tempDetail {
    position: relative;
    bottom: 51vh;
    left: 7vw;
    background-color: rgb(255, 255, 255);
    height: 12vh;
    width: 40vw;
    color: rgb(62, 62, 62);
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 1.7em;
    line-height : 30px; 
}

.pesoNameDetail {
    position: relative;
    bottom:52vh;
    left: 7vw;
    background-color: rgb(20,105, 152);
    height: 5vh;
    width: 13.5vw;
    color: rgb(255, 255, 255);
    font-style: Trebuchet;
    font-weight: 760;
    font-size: 2em;
}

.pesoDetail {
    position: relative;
    bottom: 50vh;
    right: 36vw;
    color: rgb(62, 62, 62);
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 2em;
}

.alturaNameDetail {
    position: relative;
    bottom:61.55vh;
    left: 20vw;
    background-color: rgb(131,200, 151);
    height: 5vh;
    width: 13.5vw;
    color: rgb(255, 255, 255);
    font-style: Trebuchet;
    font-weight: 760;
    font-size: 2em;
}

.alturaDetail {
    position: relative;
    bottom: 59.5vh;
    right: 22vw;
    color: rgb(62, 62, 62);
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 2em;
}
.liveNameDetail {
    position: relative;
    bottom:71.2vh;
    left: 33.5vw;
    background-color: rgb(144,91, 166);
    height: 5vh;
    width: 13.5vw;
    color: rgb(255, 255, 255);
    font-style: Trebuchet;
    font-weight: 760;
    font-size: 2em;
}

.liveDetail {
    position: relative;
    bottom: 69vh;
    right: 9vw;
    color: rgb(62, 62, 62);
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 2em;   
}